{% extends "layouts/auth.html" %} {% block title %}Login{% endblock %} {% block
content %}
<h6 class="mb-4 text-muted">Forgot Password</h6>
<form
  action="{{ url_for('auth.send_password_reset_link') }}"
  method="post"
  autocomplete="off"
>
  <div class="mb-3 text-start">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      name="email"
      class="form-control"
      placeholder="Enter your email"
      autofocus
      required
    />
  </div>
  <button class="btn btn-primary mb-4" type="submit" style="width: 100%">
    Reset Password
  </button>
</form>
{% endblock %}
