{% extends "layouts/auth.html" %} {% block title %}Login{% endblock %} {% block
content %}
<h6 class="mb-4 text-muted">Login</h6>
<form
  action="{{ url_for('auth.login_handler') }}"
  method="post"
  autocomplete="off"
>
  {{ form.hidden_tag() }}

  <div class="mb-3 text-start">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      name="email"
      class="form-control"
      placeholder="Enter your email"
      autofocus
      required
    />
    {% for error in form.email.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="mb-3 text-start">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Enter your password"
      required
    />
    {% for error in form.password.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="mb-3 text-start">
    <div class="form-check">
      <input
        class="form-check-input"
        name="remember"
        type="checkbox"
        value="1"
        id="remember"
      />
      <label class="form-check-label" for="remember">
        Remember me on this device
      </label>
    </div>
  </div>
  <button class="btn btn-primary mb-4" type="submit" style="width: 100%">
    Login
  </button>
</form>
<p class="mb-2 text-muted">
  Forgot password?
  <a href="{{ url_for('auth.forgot_password_page') }}">Reset</a>
</p>
<p class="mb-0 text-muted">
  Don't have account yet?
  <a href="{{ url_for('auth.register_page') }}">Signup</a>
</p>
{% endblock %}
