<head>
  <meta charset="utf-8" />
  <meta name="description" content="Flask Tutorial App" />
  <meta name="author" content="Anuary Mulombi" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% block title %}Home{% endblock %} | Flask Tutorial App</title>
  <link
    href="{{ url_for('static', filename='vendor/fontawesome/css/fontawesome.min.css')}}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('static', filename='vendor/fontawesome/css/solid.min.css')}}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('static', filename='vendor/fontawesome/css/brands.min.css')}}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('static', filename='css/master.css')}}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('static', filename='css/custom.css')}}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('static', filename='vendor/flagiconcss/css/flag-icon.min.css')}}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('static', filename='img/favicon.ico') }}"
    rel="shortcut icon"
  />
</head>
