<!-- navbar navigation component -->
<nav class="navbar navbar-expand-lg navbar-white bg-white">
  <button type="button" id="sidebarCollapse" class="btn btn-light">
    <i class="fas fa-bars"></i><span></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <div class="nav-dropdown">
          <a
            href="#"
            id="nav2"
            class="nav-item nav-link dropdown-toggle text-secondary"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {% if current_user.is_authenticated %}
            <i class="fas fa-user"></i>
            <span
              >{{ current_user.first_name }} {{ current_user.last_name }}</span
            >
            {% else %}
            <i class="fas fa-user"></i> <span>Not logged in</span>
            {% endif %}
            <i style="font-size: 0.8em" class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end nav-link-menu">
            <ul class="nav-list">
              <li>
                <a href="#" class="dropdown-item"
                  ><i class="fas fa-address-card"></i> Profile</a
                >
              </li>
              <li>
                <a href="#" class="dropdown-item"
                  ><i class="fas fa-envelope"></i> Messages</a
                >
              </li>
              <li>
                <a href="#" class="dropdown-item"
                  ><i class="fas fa-cog"></i> Change Password</a
                >
              </li>
              <div class="dropdown-divider"></div>
              <li>
                <a
                  href="{{ url_for('auth.logout_handler') }}"
                  class="dropdown-item"
                  ><i class="fas fa-sign-out-alt"></i> Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- end of navbar navigation -->
