<nav id="sidebar" class="active">
  <div class="sidebar-header">
    <img
      src="{{url_for('static', filename='img/logo-grey.png')}}"
      alt="bootraper logo"
      class="app-logo nav-logo"
    />
  </div>
  <ul class="list-unstyled components text-secondary">
    <li>
      <a href="#"><i class="fas fa-home"></i> Dashboard</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-file-alt"></i> Posts</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-table"></i> Users</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-chart-bar"></i> Comments</a>
    </li>
  </ul>
</nav>
